* {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 4, 200px;
    grid-template-columns: 150px, auto, 150px;
    grid-template-areas:
        "menu . ."
        ". descritivo descritivo"
        ". receitas receitas"
        "footer footer footer";
}

/*--------------------------------MENU---------------------------------- */

.menu {
    grid-area: menu;
}

/*--------------------------------DESCRITIVO---------------------------------- */

.descritivo {
    grid-area: descritivo;
}

/*--------------------------------RECEITAS FVORITAS---------------------------------- */

.receitas {
    grid-area: receitas;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ;
}

/*--------------------------------FOOTER---------------------------------- */

.footer {
    grid-area: footer;
}